.daychart {
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    .date {
    	text-align: left;
    	font-weight: bold;
    	margin-bottom: 10px;
    }

	.daychartBar {
		width: 100%;
		height: 60px;
		position: relative;
		margin-bottom: 15px;
		border: 1px solid #eee;

		.block {
			background: #000;
			height: 100%;
			position: absolute;
			top: 0;

			&.type-productive {
				background: rgb(57, 199, 170);
			}
			&.type-not-working {
				background: #2f4050;
			}
			&.type-unproductive {
				background: rgb(248, 172, 89);
			}
			&.type-undecided {
				background: #fff;
			}
            &:hover, &:active {
                filter: brightness(75%);
            }
		}
	}

	.daychartNumbering {
		width: 100%;
		height: 15px;
		position: relative;

		.number {
			position: absolute;
			top: 0;
		}
	}

	.legend {
		margin-top: 15px;
		height: 14px;

		.legendItem {
			float: left;
			text-align: left;
			line-height: 14px;
			margin-left: 15px;

			&:first-child {
				margin-left: 0;
			}

			.border {
				border: 1px solid #ccc;
				padding: 1px;
				float: left;
				margin-right: 5px;

				div {
					width: 4px;
					height: 0;
					overflow: hidden;
				}
			}
		}
	}
}
